body {
    font-family: sans-serif;
}

#assignment-instructions {
  color: blue;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.highlighted-code {
  color: green;
}

li + li {
    background-color: black;
    color: white;
}

ol > li {
    background-color: black;
    color: white;
}
